@media screen and (min-width: 480px) and (max-width: 767px)
{
    .header .logo {
        margin-top: 30px;
    }
    .header .text3 {
        display: none;
    }
    
    .slaider {
        height: 265px;
    }
    .slaider .partleft {
        width: 90vw;
        float: none;
        margin-left: 5vw;
        margin-top: 0px;
        padding-top: 15px;
    }
    .slaider .partleft .text4 {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 15px;
    }
    .slaider .partleft .text5 {
        font-size: 12px;
        line-height: 19px;
    }
    .slaider .partright {
        float: none;
    }
    .slaider .krug {
        display: none;
    }

    .services {
        height: 385px;
    }
    .services > div {
        width: 38vw;
        margin-top: 25px;
        padding-top: 15px;
    }
    .services .rectangle1 {
        float: left;
        margin-left: 2vw;
    }
    .services .rectangle2 {
        float: right;
        margin-right: 2vw;
        margin-left: 0vw;
    }
    .services .rectangle3 {
        display: none;
    }
    .services .rectangle4 {
        display: none; 
    }
    .services .square1 {
        height: 75px;
        width: 120px;
        padding-top: 45px;
        margin: auto;
    }
    .services .bigtext1 {
        font-size: 28px;
        margin-top: 15px;
    }
    .services .minitext1 {
        font-size: 15px;
        line-height: 20px;
        margin-top: 15px;
    }
    
    .latest_work  {
        height: 620px;
    }
    .latest_work .latest_big {
        font-size: 28px;
        overflow: hidden;
        text-align: center;
        margin: 0 10vw;
    }
    .latest_big::after, .latest_big::before {
        display: none;
    }
    .latest_work .rect1 {
        height: 115px;
        width: 54vw;
        background-color: #353535;
        border-style: solid;
        border-color: #fff;
        border-width: 0.5vw;
        font-size: 18px;
        padding-top: 85px;
    }
    .latest_work .rect1 .rect2 {
        height: 23px;
        width: 54vw;
        background-color: #151515;
        margin-top: 62px;
        font-size: 14px;
        padding-top: 7px;
    }
    .latest_work .ps {
        width: 100vw;
        height: 480px;
        margin: 0;
    }
    .latest_work .picture1 {
        float: none;
        margin-top: 30px;
        margin-left: 23vw;
    }
    .latest_work .picture2 {
        float: none;
        margin: 0;
        margin-top: 0px;
        margin-left: 0px;
        margin-top: 30px;
        margin-left: 23vw;
    }
    .latest_work .picture3 {
        display: none;
    }    
    .latest_work .picture4 {
        display: none;
    }
    .latest_work .picture5 {
        display: none;
    }
    .latest_work .picture6 {
        display: none;   
    }
    .latest_work .psnone {
        display: none;
    }
    .latest_work .s {
        display: block;
    }
    .latest_work .s {
        margin-top: 10px;
    }
    .latest_work a {
        color: #fff;
        font-size: 13px;
        text-decoration: none;
        background: #76c38f;
        padding: 13px;
        border-radius: 13px;
    }
    .latest_work a:visited {
        color: #fff;
        font-size: 13px;
        text-decoration: none;
    }
    
    .footer {
        height: 345px;
        width: 100vw;
        background-color: #303030;
        font-size: 13px;
        line-height: 21px;
        color: #979797;
    }
    .footer > div {
        width: 60vw;
    }
    .footer .part1 {
        display: none;
    }
    .footer .part2 {
        display: none;
    }
    .footer .part3 {
        display: none;
    }
    .footer .part4 {
        float: right;
        margin-right: 2vw;
    }
    .footer .zagolovok {
        font-size: 16px;
        color: #fff;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .footer .minitext {
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .footer .bigtext {
        margin-bottom: 5px;
    }
    .footer .isk1 {
        color: #76c38f;
    }
    .footer .isk2 {
        color: #666;
    }
    .footer a {
        color: #76c38f;
        text-decoration: none; 
        line-height: 34px;
        font-size: 13px;
    }
    .footer a:visited {
        color: #76c38f;
        text-decoration: none;
    }
    .footer .part3 a {
        line-height: 21px;
    }
    .footer .bigtext[title="otstup"] {
        margin-top: 25px;
    }
    .footer input {
        width: 60vw;
        height: 35px;
    }
    .footer textarea {
        width: 60vw;
        height: 100px;
    }
    .footer input[type="submit"] {
        width: 20vw;
    }
    .footer .onlymobile {
        display: block;
        float: left;
        width: 30vw;
        margin-left: 2vw;
        margin: 100px 4vw;
        text-align: center;
    }
    
    .copyright {
        height: 40px;
        text-align: center;
        padding-top: 10px;
    }
    .copyright .copy1 {
        float: none;
        margin-left: 0vw;

    }
    .copyright .copy2 {
        float: none;
        margin-right: 0vw;
    }
}

@media screen and (min-width: 630px) and (max-width: 767px)
{
    .slaider {
        height: 205px;
    }
    .services > div {
        height: 270px;
    }
    .services {
        height: 340px;
    }
    .latest_work {
        height: 375px;
    }
    .latest_work .ps {
        margin: 0;
    }
    .latest_work .rect1 {
        width: 40vw;
        border-width: 0.5vw;
    }
    .latest_work .rect1 .rect2 {
        width: 40vw;
    }
    .latest_work .picture1 {
        float: left;
        margin-left: 5vw;
    }
    .latest_work .picture2 {
        float: right;
        margin-right: 5vw;
        margin-left: 0;
    }
    .latest_work .s {
        margin-top: -205px;
    }
}