* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}
.header {
    width: 100vw;
    height: 82px;
    background-color: #290000;
    border-top-style: solid;
    border-top-color: #76c38f;
    border-top-width: 5px;
}
.header .text1 {
    color: #fff;
    font-size: 28px;
}
.header .text2 {
    color: #979797;
    font-size: 11px;
}
.header a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    padding: 0 2vw;
}
.header a:visited {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}
.header a[title] {
    background: #76c38f;
    padding: 13px;
    border-radius: 13px;
}
.header .mobile .ola {
    display: none;
}
.header .logo {
    float: left;
    margin-left: 10vw;
    margin-top: 35px;
}
.header .text3 {
    float: right;
    margin-right: 10vw;
    margin-top: 46px;
}

.slaider {
    color: #fff;
    width: 100vw;
    height: 522px;
    background-color: #290000;
}
.slaider .partleft {
    width: 30vw;
    float: left;
    margin-left: 15vw;
    margin-top: 150px;
}
.slaider .partleft .text4 {
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 30px;
}
.slaider .partleft .text5 {
    font-size: 12px;
    line-height: 19px;
    color: #979797;
}
.slaider .partright {
    float: right;
}
.slaider .krug {
    width: 380px;
    height: 207px;
    background-color: #333;
    border-style: solid;
    border-width: 25px;
    border-color: #6b6b6b;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    margin-right: 15vw;
    padding-top: 173px;
    margin-top: 42px;
}
.slaider .s {
    margin-top: 40px;
}
.slaider a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    background: #76c38f;
    padding: 13px;
    border-radius: 13px;
}
.slaider a:visited {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.services {
    width: 100vw;
    height: 425px;
    background-color: #600;
}
.services > div {
    width: 10.5vw;
    height: 315px;
    background-color: #fff;
    margin-top: 60px;
    text-align: center;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 25px;
}
.services .rectangle1 {
    float: left;
    margin-left: 10vw;
}
.services .rectangle2 {
    float: left;
    margin-left: 2vw;
}
.services .rectangle3 {
    float: left;
    margin-left: 2vw;
}
.services .rectangle4 {
    float: right;
    margin-right: 10vw; 
}
.services .square1 {
    height: 120px;
    width: 120px;
    background-color: #333;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
    margin: auto;
}
.services .bigtext1 {
    font-size: 32px;
    line-height: 32px;
    color: #333;
    margin-top: 20px;
}
.services .minitext1 {
    font-size: 12px;
    line-height: 17px;
    color: #979797;
    margin-top: 20px;
}
.services div:hover {
    cursor: pointer;
    background-color: #76c38f;
    color: #fff;
}
.services div[title="rectangle"]:hover .square1 {
    background-color: #fff;
    color: #333;
}
.services div[title="rectangle"]:hover .bigtext1 {
    color: #fff;
}
.services div[title="rectangle"]:hover .minitext1 {
    color: #fff;
}

.latest_work  {
    height: 600px;
    width: 100vw;
    background-color: #660000;
    color: #fff;
    text-align: center;
}
.latest_work .latest_big {
    font-size: 32px;
    overflow: hidden;
    text-align: center;
    margin: 0 10vw;
}
.latest_work .latest_big .b {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    background-color: #353535;
    margin: auto;
    overflow: hidden;
}
.latest_big::after, .latest_big::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100vw;
    height: 2px;
    background-color: #353535;
    position: relative;
}
.latest_big::before {
    margin-left: -100%;
    left: -320px;
    top: 29px;
}
.latest_big::after {
    margin-right: -100%;
    right: -320px;
    top: -29px;
}
.latest_work .rect1 {
    height: 115px;
    width: 22vw;
    background-color: #353535;
    border-style: solid;
    border-color: #fff;
    border-width: 0.25vw;
    font-size: 18px;
    padding-top: 85px;
}
.latest_work .rect1 .rect2 {
    height: 23px;
    width: 22vw;
    background-color: #151515;
    margin-top: 62px;
    font-size: 14px;
    padding-top: 7px;
}
.latest_work .ps {
    width: 80vw;
    height: 270px;
    margin: auto;
}
.latest_work .picture1 {
    float: left;
    margin-top: 30px;
}
.latest_work .picture2 {
    float: left;
    margin: auto;
    margin-top: 30px;
    margin-left: 6vw;
}
.latest_work .picture3 {
    margin-top: 30px;
    float: right;
}    
.latest_work .picture4 {
    float: left;
    margin-top: 30px;
}
.latest_work .picture5 {
    float: left;
    margin: auto;
    margin-top: 30px;
    margin-left: 6vw;
}
.latest_work .picture6 {
    float: right;
    margin-top: 30px;   
}
.latest_work div[title="picture"]:hover {
    cursor: pointer;
}   
.latest_work div[title="picture"]:hover .rect1 {
    border-color: #76c38f;
    border-style: solid;
    border-width: 0.25vw;
}
.latest_work div[title="picture"]:hover .rect1 .rect2 {
    background-color: #353535;
    color: #353535;
}

.footer {
    height: 387px;
    width: 100vw;
    background-color: #303030;
    font-size: 13px;
    line-height: 21px;
    color: #979797;
}
.footer > div {
    width: 18.5vw;
}
.footer .part1 {
    float: left;
    margin-left: 10vw;
}
.footer .part2 {
    float: left;
    margin-left: 2vw;
    width: 18.5vw;
}
.footer .part3 {
    float: left;
    margin-left: 2vw;
}
.footer .part4 {
    float: right;
    margin-right: 10vw;
}
.footer .zagolovok {
    font-size: 16px;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
}
.footer .podzagolovok {
    color: #76c38f;
}
.footer .minitext {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer .bigtext {
    margin-bottom: 5px;
}
.footer .isk1 {
    color: #76c38f;
}
.footer .isk2 {
    color: #666;
}
.footer a {
    color: #76c38f;
    text-decoration: none; 
    line-height: 34px;
    font-size: 13px;
}
.footer a:visited {
    color: #76c38f;
    text-decoration: none;
}
.footer .grey {
    color: #979797;
}
.footer hr {
    border-color: #404040;
}
.footer .part3 a {
    line-height: 21px;
}
.footer .bigtext[title="otstup"] {
    margin-top: 25px;
}
.footer input {
    width: 18.5vw;
    height: 35px;
    background-color: #222;
    margin-bottom: 10px;
    border: none;
    border-radius: 17px;
}
.footer textarea {
    width: 18.5vw;
    height: 80px;
    background-color: #222;
    margin-bottom: 10px;
    border: none;
    border-radius: 17px;
}
.footer ::placeholder {
    padding-left: 1vw;
}
.footer textarea::placeholder {
    padding-top: 10px;
}
.footer input[type="submit"] {
    color: #222;
    background-color: #76c38f;
    font-size: 13px;
    width: 6vw;
}

.copyright {
    width: 100vw;
    height: 60px;
    background-color: #2b2b2b;
    font-size: 13px;
    color: #979797;
    border-top-style: groove;
    border-top-width: 4px;
    border-top-color: #3b3b3b;
    padding-top: 23px;
}
.copyright .copy1 {
    float: left;
    margin-left: 10vw;
}
.copyright .copy2 {
    float: right;
    margin-right: 10vw;
}
